@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin:0;
    padding:0;
}
h2{
    font-family: Poppins;
}
.d-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.thumbnail img{
    width: 100%;
}
/* main */
.start-journey{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 70px 0;
}
.start-journey h2{
    font-weight: bold;
    font-size: 52px;
    line-height: 70px;
}

.start-journey p{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.start-journey a{
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 24px;
    background: #E02C6D;
    border-radius: 41px;
    color: #fff;
    text-decoration: none;
    margin: 26px 0;
}
.start-journey a i{
    padding-left: 8px;
}
/* collection */
.collection{
    flex-direction: column;
}
.collection h2{
    font-weight: 600;
    font-size: 28px;
    line-height: 70px;
    color: #3B3A3B;
}
.content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding: 9px 70px;
}
.left-box.d-flex{
    align-items: start;

}
/* article */
article{
    padding: 16px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
article h2{   
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    color: #18191F;
}
article .price{
    font-size: 24px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.87);
}
article i{
    color: #FB8200;
    font-weight: bold;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.018em;
}
article span{
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.1px;
    color: #5E6366;
    padding-left: 6px; 
}
article p{
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.1px;
    color: #5E6366;
    padding: 6px; 
}
.collection.more{
    width: 100%;
}
.collection a{
    float: right;
    padding: 9px 70px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: rgba(224, 44, 109, 0.87);
}

.collection a i{
    padding-left: 8px;
}
/* footer */
footer{
    background-color: #0A0826;
    color: #fff;
    padding: 50px;
    text-align: center;
}
.footer h2{
    font-size: 24px;
    line-height: 36px;
}
.footer p{
    font-size: 14px;
    line-height: 24px;
}
.footer .icon i{
    font-size: 22px;
    color: #FFFEFE;
    background: #23213D;
    padding: 8px;
    margin: 17px 6px;
    border-radius: 50%;
    opacity: .7;
}

.footer .icon a:hover i{
    opacity: 1;
}