@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin:0;
    padding:0;
}
/* root */
:root{

}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    font-family: 'Poppins', sans-serif;
}
/* footer */
footer{
    background-color: #0A0826;
    color: #fff;
    padding: 50px;
}
.container.footer{
    flex-direction: column;
}
.container h2{
    font-size: 24px;
    line-height: 36px;
}
.container p{
    font-size: 14px;
    line-height: 24px;
}
.container .icon i{
    font-size: 22px;
    color: #FFFEFE;
    background: #23213D;
    padding: 8px;
    margin: 17px 6px;
    border-radius: 50%;
}